.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.m-5 {
  margin: 50px;
}